h1 {
 color: red; 
}

*{
  box-sizing : border-box;
}
.navbar {
  width: 800px;
  margin: 0 auto;
  background-color: #f4b942;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.navbar_box {
  margin: 10px;
}
.navbar_box:hover {
  cursor: pointer;
  transform: scale(1.15, 1.15);
  transition: transform 0.1s linear;
}
.adding_answers {
  width: 800px;
  height: 50px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adding_ansYes { 
  background-color: #7bb737;
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 1.5;
}
.adding_ansYes:hover {
  cursor: pointer;
  transform: scale(1.06, 1.06);
  transition: transform 0.1s linear;
  color: white;
}
.adding_ansNo { 
  background-color: #7bb737;
  width: 150px;
  height: 30px;
  line-height: 1.5;
  text-align: center;
}
.adding_ansNo:hover {
  cursor: pointer;
  transform: scale(1.06, 1.06);
  transition: transform 0.1s linear;
  color: white;
}
.main {
  width: 800px;
  text-align: center;
  display: flex; 
  flex-direction: row;
}
.overlay {
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  display: none;
  cursor: pointer;
  top: 0;
  left: 0;
}
.questions{
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  background-color: #95c0c6;
  align-items : flex-start;
  }
.ansYes {
  width: 50%;
  display: flex;
  flex-direction: column; 
}
.ansNo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.content {
  overflow: hidden;
}
.box {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #efebde;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.boxName {
  color: #6d6446;
  text-align: left;
}
.showMore {
  font-weight: 800;
}
.date {
  font-size: 0.6em;
  text-align: right;
}
.popUp {
  position: absolute;
  height: auto;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
.showLess {
  font-weight: 800;
}
.invisible {
  display: none;
}
.blur-all {
   filter: blur(3px);
}
.showMore,.showLess:hover {
  cursor: pointer;  
}
.mainIndex {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}
.boxIndex {
  width: 45%;
  height: 100px;
  background-color: #c4cea5;
  text-align: center;
  border: 1px solid black;
  line-height: 6;
  margin: 10px;
}
.navbar_profile {
  width: 800px;
  margin: 0 auto;
  background-color: #f4b942;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.boxProfile:hover {
  cursor: pointer;
  transform: scale(1.09, 1.09);
  transition: transform 0.1s linear;
}
.boxProfile {
  padding: 10px;
}
.login_main {
  display: flex;
  flex-direction: column;
  width: 300px;
	margin: 150px auto 0 auto;
  font-size: 1.5em;
  background-color: white;
}
.login_header {
  text-align: center;
  padding: -10px;
  color: #7bb737;
}
.login_username  {
  padding: 10px;
}
.login_password {
  padding: 10px;
}
.login_username_input {
  height: 35px;
  padding-left: 10px;
  border: none;
  background-color: #ecedea;
}
.login_password_input {
  height: 35px;
  padding-left: 10px;
  border: none;
  background-color: #ecedea;
}
.login_submit_button {
  height: 35px;
  color: white;
  background-color: #7bb737;
  border: none;
}
.login_submit_button:hover {
  cursor: pointer;
  transform: scale(1.06, 1.06);
  transition: transform 0.1s linear;
}

.hidden {
  display: none;
}

.register_main {
  width: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;  
  justify-content: 
}
.register_box {
  padding: 3px;
  background-color:#f4b942;
  line-height: 1;
}

.submit_boxes {
  display: flex;
  flex-direction: row;
}
.submit_register {
  margin: 0 auto;
  width: 50%;
  padding: 3px;
  border: 0px;
}
.submit_register:hover {
  cursor: pointer;
  transform: scale(1.08, 1.08);
  transition: transform 0.1s linear; 
}
.submit_red {
  background-color: #e25c34; 
  color: white;
}
.submit_green {
  background-color: #99c14f;
  color: white;
}
::placeholder {
  color: #bab7b6;
}
.singleQuestion {
  width: 800px;
  margin: 20px auto;
  text-align: center;
  display: flex; 
  flex-direction: row;
}
.question {
  width: 800px;
  margin: 30px auto;
  color: red;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
}
.about_main {
  width: 800px;
  margin: 100px auto;
}
.back_home:hover {
  cursor: pointer;
  color: white;
  background-color: green;
}
.back_home {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.answer_form {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}
.answer_form_label {
  font-size: 20px;
}

